<input class="list-inline center-block text-center input-lg" type="text" name="" placeholder="Search..." ng-model="searchText">
<h3>Donors</h3>
<div ng-repeat="user in users | filter: searchText">
    <div class="panel panel-default panel-transparent">
        <div class="panel-body">
            <!-- <i class="fa fa-address-card" aria-hidden="true"></i> -->
            <div class="col-xs-12"><a class="fa fa-address-card">Name: {{user.FirstName}} {{user.LastName}}<br>Address: {{user.Address}} {{user.Location}} <br>Phone: {{user.Phone}}<br>Email: {{user.Email}}<br>Birthdate: {{user.Birthdate}}</a></div>
        </div>
    </div>
</div>