<br />
<input class="list-inline center-block text-center input-lg" type="text" name="" placeholder="Search..." ng-model="searchText">
<h3>Donation Locations</h3>
<div ng-repeat="bank in banks | filter: searchText">
    <div class="panel panel-default panel-transparent">
        <div class="panel-body">
            <div class="col-xs-3"><a class="fa fa-address-card">{{bank.BloodBankName}} <br>{{bank.BloodBankStreetAddress}} {{bank.BloodBankCity}} {{bank.BloodBankState}} {{bank.BloodBankZip}} <br>{{bank.BloodBankPhone}}</a></div>
        </div>
    </div>
</div>
<ng-map zoom="12" center="36.166687, -86.779932">
    <marker position="36.156812, 86.807536"
            icon="https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png">
    </marker>
    <marker position="36.156812, 86.807536"
            icon="https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png">
    </marker>
    <marker position="36.089195, -86.741524"
            icon="https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png">
    </marker>
    <marker position="36.159174, -86.778496"
            icon="https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png">
    </marker>
</ng-map>

