.jumbotron-custom {
    background-image: url("https://images.fastcompany.net/image/upload/w_1280,f_auto,q_auto,fl_lossy/wp-cms/uploads/2017/10/poster-p-1-How-The-Red-Cross-Has-Survived-In-Crisis-Mode-For-150-Years.jpg");
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-bottom: 1px solid #ff6a00;
    margin-top: 75px;
}

.txt-home {
    font-family: fantasy;
    font-size: 100px;
    color: cornflowerblue;
    padding-top: 77px;
}

.jumbo {
    font-size: 30px;
    color: white;
    text-indent: 15px;
    text-align: justify;
    padding-left: 89px;
    margin-top: -13px;
}

/*.navbar-default {
    background-color: darkred;
}*/

///////////////////////////////////////////////////////

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

 input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
 }


