<br />
<div class="jumbotron-custom">
    <div class="container home">
        <h1 class="txt-home">Help Save Lives</h1>
        <p class="jumbo">
            Make A Difference
        </p>
    </div>
</div>

<br />

<!--<div>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/b9wZ8aT2HKI" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>-->
<!--<div class="width:800px; margin:0 auto;">
    <iframe width="280" height="157" src="https://www.youtube.com/embed/b9wZ8aT2HKI" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
</div>-->


<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-offset-1">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-heartbeat fa-2x" aria-hidden="true"></i></h3>
                </div>
                <div class="panel-body">
                    Discover blood facts and statistics, and what happens to donated blood.
                    <p><a class="btn btn-danger btn-sm" href="#" role="button">Learn more</a></p>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-offset-1">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-heartbeat fa-2x" aria-hidden="true"></i></h3>
                </div>
                <div class="panel-body">
                    Learn more about the eligibility requirements for donating blood.
                    <p><a class="btn btn-primary btn-sm" href="#" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-offset-1">
            <div class="panel panel-danger">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-heartbeat fa-2x" aria-hidden="true"></i></h3>
                </div>
                <div class="panel-body">
                    Learn more about how you can host a blood drive in your area.
                    <p><a class="btn btn-danger btn-sm" href="#" role="button">Learn more</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-5 col-md-offset-2"></div>
</div>



